<div class="flex justify-start pt-5 pb-8">
  <%= link_to :back do %>
    <div class="flex inline-flex items-center hover:underline">
      <i class="fa-solid fa-left-long fa-lg pr-2"></i>
      <p><%= t('defaults.back') %></p>
    </div>
  <% end %>
</div>