<%= link_to likes_path(spot_id: spot.id), 
            id: "js-like-button-for-spot-#{spot.id}",
            method: :post,
            remote: true do %>
  <span class="absolute top-0 right-0 py-3 px-3.5 rounded rounded-full text-gray-200 hover:bg-gray-200 hover:text-fitting-pink">
    <i class="far fa-heart fa-lg"></i>
  </span>
<% end %>
