<%= link_to likes_path(spot_id: spot.id), method: :post do %>
  <span class="absolute top-0 right-0 p-3 rounded rounded-full hover:bg-gray-200">
    <i class="far fa-heart fa-lg"></i>
  </span>
<% end %>
