<div class="w-full max-w-md mt-14 mb-24">
  <%= render 'back_button' %>
  <div class="border-b-2 border-bg-mitsuboshi-gray pb-3">
    <%= render 'spot_title', spot: @spot %>
  </div>
  <div class="px-5 pt-5">
    <%= render 'form', form: @form %>
  </div>
</div>
