<div class="w-full max-w-md my-10">
  <div class="pt-4 pb-2">
    <span class="inline-block bg-white rounded-full border border-gray-200 align-middle px-3 pt-2 pb-1 text-sm mr-2 mb-2 hover:bg-gray-200"><%= t('.list_view') %></span>
  </div>
  <% if @spots.present? %>
    <%= render @spots %>
  <% else %>
    <p><%= t('.no_result') %></p>
  <% end %>
  <%= paginate @spots %>
</div>
