<header class="flex items-center justify-between flex-wrap bg-fitting-pink px-2 py-2">
  <div class="flex items-center flex-shrink-0 mr-6">
    <%= link_to root_path do %>
      <%= image_pack_tag 'media/images/logo.svg' %>
    <% end %>
  </div>
  <button class="flex items-center">
    <%= link_to login_path do %>
      <div class="group inline-block text-center mx-3">
        <i class="fa-solid fa-right-to-bracket fa-xl custom-icon flex-shrink-0 group-hover:text-mitsuboshi-blue"></i>
        <p class="icon-text group-hover:text-mitsuboshi-blue"><%= t('defaults.login') %></p>
      </div>
    <% end %>
  </button>
</header>
