<nav class="fixed bottom-0 left-0 right-0 bg-fitting-pink px-2 py-1.5">
  <div class="mx-auto px-4">
    <div class="flex justify-center items-center">
      <ul class="flex justify-center items-center">
        <li>
          <div class="group inline-block text-center mx-3 pt-2">
            <i class="custom-icon fa-solid fa-house group-hover:text-mitsuboshi-blue"></i>
            <p class="icon-text group-hover:text-mitsuboshi-blue"><%= t 'defaults.home' %></p>
          </div>
        </li>
        <li>
          <div class="group inline-block text-center mx-3 pt-2">
            <i class="custom-icon fa-solid fa-magnifying-glass group-hover:text-mitsuboshi-blue"></i>
            <p class="icon-text group-hover:text-mitsuboshi-blue"><%= t 'defaults.search' %></p>
          </div>
        </li>
        <li>
          <div class="group inline-block text-center mx-3 pt-2">
            <i class="custom-icon fa-solid fa-user group-hover:text-mitsuboshi-blue"></i>
            <p class="icon-text group-hover:text-mitsuboshi-blue"><%= t 'defaults.mypage' %></p>
          </div>
        </li>
        <li>
          <div class="group inline-block text-center mx-3 pt-2">
            <i class="custom-icon fa-solid fa-plus group-hover:text-mitsuboshi-blue"></i>
            <p class="icon-text group-hover:text-mitsuboshi-blue"><%= t 'defaults.post' %></p>
          </div>
        </li>
      </ul>
    </div>
  <div>
</nav>


