<footer class="bg-base-color px-2 py-1.5">
  <div class="flex justify-center items-center">
    <a href="#" class="inline-block align-middle mx-2 py-0.5"><%= t 'defaults.terms' %></a>
    <a href="#" class="inline-block align-middle mx-2 py-0.5"><%= t 'defaults.privacy' %></a>
    <a href="#" class="inline-block align-middle mx-2 py-0.5"><%= t 'defaults.contact' %>
</a>
  </div>
</footer>
