<footer class="bg-base-color px-2 py-1.5">
  <div class="flex justify-center items-center">
    <a href="#" class="inline-block align-middle mx-2 py-0.5">利用規約</a>
    <a href="#" class="inline-block align-middle mx-2 py-0.5">プライバシーポリシー</a>
    <a href="#" class="inline-block align-middle mx-2 py-0.5">お問い合わせ</a>
  </div>
</footer>
