<header class="fixed top-0 left-0 right-0 flex items-center justify-between flex-wrap bg-fitting-pink px-2 py-2">
  <div class="flex justify-between items-center">
    <%= link_to root_path do %>
      <%= image_pack_tag 'media/images/logo.svg' %>
    <% end %>
  </div>
  <button class="flex items-center">
    <%= link_to logout_path, method: :delete do %>
      <i class="fa-solid fa-solid fa-right-from-bracket fa-xl custom-icon flex-shrink-0 hover:text-mitsuboshi-blue"></i>
    <% end %>
  </button>
</header>
