<div id="google-map">
  <h1>Google Map</h1>
  <div ref="map" style="height: 500px; width: 800px;"></div>
</div>

<script type="module">
  import { 
    ref,
    createApp
  } from "https://unpkg.com/vue@3.2.36/dist/vue.esm-browser.prod.js"
  
  const app = createApp({
    data(){
      return {
        myLatLng: { lat: -34.397, lng: 150.644 },
      }
    },
    mounted(){
      let timer = setInterval(() => {
        if(window.google){
          clearInterval(timer)
          const map = new window.google.maps.Map(this.$refs.map, {
            center: this.myLatLng,
            zoom: 8,
          })
          new window.google.maps.Marker({
            position: this.myLatLng,
            map,
          })
        }
      }, 500)
    }
  })
  app.mount("#google-map")
</script>
