<div class="w-full max-w-md mt-10 mb-32">
  <div class="text-center mb-3">
    <h1 class="text-lg font-bold tracking-wider mb-4">プライバシーポリシー</h1>
  </div>
  <p>三つ星トイレ（以下、「当方」といいます。）は、本ウェブサイト上で提供するサービスにおける、<p>
  <p>ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。</p>
  <div class="p-2">
    <h2 class="chapter">お客様から取得する情報</h2>
    <div class="leading-relaxed">
      <p>当方は、お客様から以下の情報を取得します。</p>
      <li>氏名(ニックネームやペンネームも含む)</li>
      <li>メールアドレス</li>
      <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
      <li>Cookie(クッキー)を用いて生成された識別情報</li>
    </div>
  </div>    
  <div class="p-2">
    <h2 class="chapter">お客様の情報を利用する目的</h2>
    <div class="leading-relaxed">
      <p>当方は、お客様から取得した情報を、以下の目的のために利用します。</p>
      <li>当方サービスに関する登録の受付、お客様の本人確認、認証のため</li>
      <li>お客様の当方サービスの利用履歴を管理するため</li>
      <li>お客様からのお問い合わせに対応するため</li>
      <li>当方の規約や法令に違反する行為に対応するため</li>
      <li>当方サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
      <li>当方規約の変更等を通知するため</li>
      <li>以上の他、当方サービスの提供、維持、保護及び改善のため</li>
    </div>
  </div>
  <div class="p-2">
    <h2 class="chapter">安全管理のために講じた措置</h2>
    <div class="leading-relaxed">
      <p>当方が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
    </div>
  </div>
  <div class="p-2">
    <h2 class="chapter">第三者提供</h2>
    <div class="leading-relaxed">
      <p>当方は、お客様から取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。 但し、次の場合は除きます。</p>
      <li>個人データの取扱いを外部に委託する場合</li>
      <li>当方や当方サービスが買収された場合</li>
      <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
      <li>その他、法律によって合法的に第三者提供が許されている場合</li>
    </div>
  </div>
  <div class="p-2">
    <h2 class="chapter">アクセス解析ツール</h2>
    <div class="leading-relaxed">
      <p>当方は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。 但し、次の場合は除きます。</p>
    </div>
  </div>
  <div class="p-2">
    <h2 class="chapter">プライバシーポリシーの変更</h2>
    <div class="leading-relaxed">
      <p>当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。 但し、次の場合は除きます。</p>
    </div>
  </div>
  <div class="p-2">
    <h2 class="chapter">お問い合わせ</h2>
    <div class="leading-relaxed">
      <p>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、<%= link_to t('defaults.contact'), 'https://forms.gle/MFEdGVp7t6k19wUi8', class: 'hover:underline hover:text-gray-600 hover:decoration-gray-600' %>、または<%= link_to '管理者Twitterアカウント', 'https://twitter.com/mitsuboshi_pr', target: '_blank', class: 'hover:underline hover:text-gray-600 hover:decoration-gray-600' %>までお願いいたします。</p>
    </div>
  </div>
  <p class="text-right mt-5">以上</p>
</div>
