@font-face {
  font-family: "SourceHanSans";
  src: url('../fonts/SourceHanSans-VF.otf');
}

body {
  font-family: "SourceHanSans";
  font-size: 14px;
  color: #2d3748;
}

#buttom-navbar {
  box-shadow: 0 0 3px white; 
}

.panel {
  display: none;
}

.tab {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-width: 2px;
  border-color: transparent;
}

.tab:hover {
  color: rgb(75 85 99);
  border-color: rgb(209 213 219);
}

.tab.is-active {
  border-color: rgb(117 204 232);
  transition: all 0.2s ease-out;
}

.panel.is-show {
  display: block;
}
  
.spot-image {
  height: 300px;
  width: 100%;
} 

.spot-image-mini {
  height: 250px;
  width: 100%;
}

.custom-map-control-button {
  display: block;
  text-align: center;
  color: rgb(255 255 255);
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: rgb(117 204 232);
  cursor: pointer;
}

.accordion-btn {
  position: relative;
  border: none;
  width: 100%;
  cursor: pointer;
  text-align: right;
  padding: 15px 45px 15px 0;
  font-size: 1em;
}

.accordion-btn::before,
.accordion-btn::after {
  position: absolute;
  content:'';
  background-color: #333;
  top: 50%;
  width: 1.5px;
  height: 8px;
  transition: .5s;
}

.accordion-btn::before {
  transform: translateY(-50%) rotate(-45deg);
  right: 35px;
}

.accordion-btn::after {
  transform: translateY(-50%) rotate(45deg);
  right: 30px;
}

.accordion-btn.close::before {
  transform: translateY(-50%) rotate(-135deg);
  transition:.5s;
}

.accordion-btn.close::after {
  transform: translateY(-50%) rotate(135deg);
  transition:.5s;
}
