@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Josefin Sans, sans-serif;
    font-size: 14px;
    color: #2d3748;
  }
}
@layer components {
  .btn {
    @apply text-white font-bold rounded shadow py-2 px-4 w-32;
  }
  .nomal-btn {
    @apply bg-mitsuboshi-blue hover:bg-baby-blue;
  }
  .custom-icon {
    @apply w-5 h-5 text-white py-1 px-3 hover:text-mitsuboshi-blue;
  },
  .icon-text {
    @apply font-yusei text-xs text-white;
  }
  .alert {
    @apply p-4 mb-4;
  }
  .alert-success {
    @apply text-green-700 bg-green-100 rounded-lg;
  }
  .alert-info {
    @apply text-blue-700 bg-blue-100 rounded-lg;
  }
  .alert-warning {
    @apply text-yellow-700 bg-yellow-100 rounded-lg; 
  }
  .alert-danger {
    @apply text-red-700 bg-red-100 rounded-lg;
  }
}

