<% spot.equipment_details.each do |equipment_detail| %>
  <% case equipment_detail.target_person_id %>
  <% when 1, 2 %>
    <span class="equipment-tag bg-powder-pink">
      <%= equipment_detail.content %>
    </span>
  <% when 3 %>
    <span class="equipment-tag bg-baby-blue">
      <%= equipment_detail.content %>
    </span>
  <% when 4 %>
    <span class="equipment-tag bg-fitting-pink">
      <%= equipment_detail.content %>
    </span>
  <% else %>
    <span class="equipment-tag bg-mitsuboshi-gray">
      <%= equipment_detail.content %>
    </span>
  <% end %>
<% end %>
