<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta lang='ja'>
    <meta name="robots" content="noindex, nofollow">
    <title>Admin LTE</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'admin' %>
    <%= stylesheet_pack_tag 'admin', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <p>Adminだよ！</p>
    </div>
  </body>
</html>
